{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<section id="main-jumbotron" class="jumbotron mx-auto my-auto">
    <div class="container-fluid">
      <h1 class="py-4"> [ projects ]</h1>
      <a href="{% url 'random' %}" class="btn btn-dark main-button py-2 px-3"> choose random </a>
    </div>
  </section>

<div class="card-columns mb-2">
{% for project in projects %}
        <div class="card project">
            <img class="card-img-top" src="{{ project.image.url }}">
            <a href="{% url 'project_detail' project.pk %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.technology }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}