
.content-description {
    color: white;
    background-color: black;
    text-align: center;
}

.bg-image {
    width: 100vh;
    height: min-content;
    background-repeat: no-repeat;
    border: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    object-fit: cover;
}

.img1 {
    background-image: url('img/landscape.jpg');
}

.img2{
    background-image: url('img/landscape2.jpg');
}

.col, .row {
    padding: 0px;
    vertical-align: middle;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    vertical-align: middle;


}
h1 {
    font-size: 72px;
    padding-right: 50%;
    text-transform: uppercase;
}

h2 {
    font-size: 56px;
   
}

.firstline {
    padding-right: 30%;
    padding-top: 10%;
}
.secondline {
    padding-left: 20%;
}

.computer-science {
    font-family: Consolas, monaco, monospace;
    font-size: 64px;
}

.physics {
    font-family: 'Cambria Math'; 
    font-size: 64px;
}

.navbar-nav > li{
    padding-top:30px;
    padding-bottom:30px;
    padding-left: 20px;

  }
.navbar-nav > ul{
    vertical-align: middle;
    padding-left: 20px;
    align-content  : left;
    position: relative;
}
.menubar{
    justify-content: left;
    align-items: flex-start;
    display: flex;
    margin-left: 10%;
}